<h1 class="display-4 text-primary">{{ name }}</h1>

<dl class="row">
  <dt class="col-sm-3">Nombre</dt>
  <dd class="col-sm-9">{{ name }}</dd>

  <dt class="col-sm-3">Edad:</dt>
  <dd class="col-sm-9">{{ age }}</dd>

  <dt class="col-sm-3">Metodo</dt>
  <dd class="col-sm-9">{{ getHeroDescription() }}</dd>

  <dt class="col-sm-3">Capitalizado</dt>
  <dd class="col-sm-9">{{ capitzalizaName }}</dd>
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2 ms-0">
  Cambiar Nombre
</button>

<button
  *ngIf="age !== 23"
  (click)="changeAge()"
  class="btn btn-primary">
  Cambiar Edad
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary ms-2">
  Reset
</button>
